!!! 5
%html(lang="en-US")
  %body
    %p= "Hello #{@invitation.recipient_name}, you have been invited by #{@invitation.inviter.full_name} to join Myflix"
    %p= @invitation.message
    %p= link_to "Accept this invitation", register_with_token_url(@invitation.token)